@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#profile {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

a {
    all: unset;
}

#main-article {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    translate: 60%;
    position: fixed;
    text-align: justify;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;

    
    -webkit-mask-image: linear-gradient(transparent, white 5em);
    mask-image: linear-gradient(transparent, white 5em);
}

#main-article::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}

#main-article > div {
    padding: 1em;
    margin-top: 5em;
    margin-bottom: 10em;
}

.waves {
    position: static;
    height: 100vh;
    float: right;
    filter: drop-shadow(5px 5px 5px black);
}

.icon-position {
    height: 100%;
    position: absolute;
    display: flex;
    margin: auto;
    padding-left: 5vmax;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.name-title {
    text-align: left;
    font-size: 11vw;
    filter: drop-shadow(3px 5px 3px rgba(100, 34, 100, 0.774));
    z-index: 1;
}

.name-title br {
    content: " ";
    display: block;
    height: 0px;
    margin: -30px 0px;
    line-height:22px;
}

.blob {
    position: fixed;
    left: -17%;
    top: 5.5%;
    transform: translateX(30em);
    z-index: -100;
    height: 85%;
    width: 85%;
    -webkit-mask: url("img/Blob.svg") no-repeat center;
    mask: url("img/Blob.svg") no-repeat center;
    animation: 3s infinite alternate wobble;
}

.offset {
    left: -17%;
    top: 6%;
    height: 85.5%;
    width: 85.5%;
}

.dark-shadow {
    position: relative;
    background: radial-gradient( rgb(41, 24, 87) 0%, rgb(34, 26, 71) 100%);
    height: 100%;
    width: 100%;
}

@keyframes wobble {
    0%   {transform: translateY(0em) rotate(0deg);}
    50%  {transform: translateY(-5%) rotate(3deg);}
    100% {transform: translateY(0em) rotate(0deg);}
}


/* elements */

.card {
    border-radius: 25px;
    padding: 17px 30px;
    background: linear-gradient(45deg, rgba(25, 14, 83, 0.404) 0%, rgba(150, 28, 146, 0.322) 100%);
    backdrop-filter: blur(30px);
    color: white;
    filter: drop-shadow(3px 5px 3px rgba(25, 14, 83, 0.404));
    margin: 1em 0em;
}

.card>* {
    margin-left: 0.5em;
    margin-right: 0.3em;
}

.card *:first-child {
    margin-top: 0;
}

.card *:last-child {
    margin-bottom: 0;
}

.card p {
    margin: 1em 0px;
    font-size: 24px;
    text-align: justify;
}

.card hr {
    border: 2px solid white;
    margin: 0.3em 0.3em;
}

ul.horizontal-list {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.horizontal-list li{
    display: inline-block;
    font-size: 24px;
    margin: 0.3em 0.3em;
    padding: 8px;
    border-radius: 100vh;
    background:linear-gradient(45deg, rgb(14, 148, 244) 0%, rgb(151, 28, 245) 100%);
}

.horizontal-list li:hover {
    transform: translateY(-5%);
    transition-duration: 0.3s;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.overlap {
    position: relative;
    margin: 1em 0px;
    height: 25vw;
}

.overlap>*{
    height: 25vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:inherit;
    position: absolute;
    top:0; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.overlap>div {
    aspect-ratio: 1280/769;
    position: absolute;
    background-color: transparent;
    margin: auto;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.overlap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlap a {
    position: absolute;
    text-decoration: none;
    all: unset;
}


.overlap>* {
    border-radius: 10px;
    border: 2px solid white;
}


.overlap .overlay:hover {
    opacity: 1;
    background-color: #10264d5b;
    transition-duration: 0.2s;
}

.overlap .card {
    position: absolute;
    backdrop-filter: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(45deg, rgb(14, 148, 244) 0%, rgb(151, 28, 245) 100%);
    font-size: 24px;
    border-radius: 5em;
}

.overlap .card:active {
    color: #f4bbff;
}

.overlap .card:hover {
    background:linear-gradient(45deg, rgb(13, 111, 181) 0%, rgb(105, 18, 171) 100%);
    transform: translate(-50%, -53%);
}

/* BEYOND THIS LINE ARE THE CSS FOR ALL IN THE MAIN SECTION*/
article {
    z-index: 100;
}

.generic-list {
    padding-top: 0;
    font-size: 24px;
}

article h1 {
    font-size: 72px;
    margin: 0;
    text-align: center;
}

article h2 {
    margin: 0.5em 0 0 0;
}

article hr {
    margin: 0;
    border: 2px solid white;
    border-radius: 2px;
}

article p {
    font-size: 18px;
}

ul.reviews {
    list-style: none;
    padding-left: 0;
}

.reviews h3 {
    margin: 5px 0px;
    font-size: 24px;
}

.reviews p {
    font-style: italic;
    font-size: 22px;
    padding-bottom: 30px;
    padding-left: 25px;
}

h3.contacts {
    font-size: 24px;
    margin: 0em 0em 0.5em 0em;
}

ul.contacts {
    padding: 0;
}

ul.contacts li {
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: 22px;
    margin: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.contacts img {
    height: 35px;
    margin-right: 10px;
}

ul.contacts a:hover {
    transform: translateY(-5%);
    color: rgb(207, 207, 207);
    filter: drop-shadow(3px 5px 5px black);
    transition-duration: 0.3s;
    cursor: pointer;
}

.button {
    position: relative;
    margin: auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 24px;
    width: 10em;
    height: 2em;
    border-radius: 5em;
    background: linear-gradient(45deg, rgb(14, 148, 244) 0%, rgb(151, 28, 245) 100%);
}

.button:hover {
    transform: translateY(-8%);
    background:linear-gradient(45deg, rgb(13, 111, 181) 0%, rgb(105, 18, 171) 100%);
    transition-duration: 0.2s;
}

.button:active {
    color: #f4bbff;
}

.center-content {
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form h4 {
    margin-bottom: 5px;
    font-size: 18px;
    align-self: baseline;
}

#contact-form button {
    font-family: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 1.8em;
    width: 8em;
    font-size: 1.8em;
    border-radius: 2em;
    text-align: center;
    color: white;
    border: none;
    transition-duration: 0.1s;
    filter: drop-shadow(3px 3px 5px rgb(35, 4, 65));
    background: linear-gradient(45deg, rgb(14, 148, 244) 0%, rgb(151, 28, 245) 100%);
}

#contact-form button:hover {
    transform: translateY(-8%);
    background:linear-gradient(45deg, rgb(13, 111, 181) 0%, rgb(105, 18, 171) 100%);
    transition-duration: 0.2s;
    filter: drop-shadow(5px 5px 5px rgb(38, 1, 56));
}

#contact-form button:active {
    color: #f4bbff;
    transition-duration: 0s;
}


#contact-form input {
    padding: 0.8em;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    background: linear-gradient(to top, rgba(64, 48, 93, 0.75), rgb(56, 62, 66));
}

#contact-form  textarea {
    margin: auto;
    color: white;
    resize: none;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    padding: 1em;
    width: 100%;
    height: 15em;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(64, 48, 93, 0.75), rgb(56, 62, 66));
}

#contact-form h5 {
    display: none;
    align-self: start;
    margin: 5px;
    font-size: 16px;
    margin-left: 0.5em;
    color: rgb(242, 31, 31);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px rgb(42, 29, 49) inset !important;
}

#error {
    display: none;
    flex-direction: row;
    position: fixed;
    justify-content: end;
    align-items: center;
    bottom: 60px;
    margin: 1em;
    right: 0;
    z-index: 100;
}

.movein-animate {
    animation: 1s forwards ease-in move-in;
}

.moveout-animate {
    animation: 0.5s forwards ease-out move-out;
}

@keyframes move-in {
    0% { transform: translateX(125%);}
    100% { transform: translateX(0);}
}

@keyframes move-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-25%);
        opacity: 0;
    }
}

@keyframes fade {
    0%   {transform: translateX(0em);}
    50% {transform: translateX(-0.5em);}
    100%   {transform: translateX(0em);}
}

#error-card {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 320px;
    border-radius: 20px;
    filter: drop-shadow(1px 5px 5px rgba(34, 0, 67, 0.625));
    z-index: 100;
}

#error-card.success {
    background: linear-gradient(45deg, rgb(54, 48, 223), rgba(135, 243, 178, 0.8));
}

#error-card.failed {
    background: linear-gradient(-45deg, rgba(225, 33, 33, 1), rgb(204, 55, 184, 0.8));
}


#error-card p {
    position: absolute;
    font-size: 24px;
    margin: 20px;
}

#back-arrow {
    filter: invert();
    height: 50px;
    margin: 0;
    animation: 1.5s infinite alternate-reverse ease-in-out fade;
    opacity: 0;
    transition-duration: 0.3s;
}

#error:hover > img {
    opacity: 1;
}