.waves {
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: scaleY(50%) translateY(50%);
    z-index: -1;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    
    mask: linear-gradient(to bottom, transparent, white 15%);
    -webkit-mask: linear-gradient(to bottom, transparent, white 15%);
    z-index: 1;
}

main::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}

main > :first-child {
    margin-top: 5em;
}

.card {
    box-sizing: border-box;
    align-items: center;
    display: grid;
    margin: 5px;
    border-radius: 40px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(97, 31, 85, 0.509), rgba(20, 80, 75, 0.46))
}

.card > img {
    grid-column-start: 1;
    grid-row-start: 2;
    height: 450px;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.card h1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: 0;
    margin-bottom: 10px;
}

.card > div {
    grid-row-start: 2;
    grid-column-start: 2;
}

.text {
    margin-left: 10px;
}

.text p, li, h3 {
    font-size: 24px;
}

.horizontal-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
}

.horizontal-list a {
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(14, 148, 244) 0%, rgb(151, 28, 245) 100%);
}

.horizontal-list a:hover {
    transform: translateY(-8%);
    background:linear-gradient(45deg, rgb(13, 111, 181) 0%, rgb(105, 18, 171) 100%);
    transition-duration: 0.2s;
}

.horizontal-list a:active {
    color: #f4bbff;
}